/* Tamaño Pre definido */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@media (max-width: 768px) {
    .logo{
        display: inline;
        width: 5px;
        height: 5px;
        } .navbar ul li a {
            font-size: 0.8rem;
            width: 15px;
            display: flex;
            justify-content: space-between;
            padding: 2px;
            background-color:unset;
            
            
            }
            .botonIS{
                    margin-left: 9px;
                    padding: 0px;
                }
                .navbar{
                        justify-content: space-between;
                        margin-right: 10px;
                        display: flex;
                    }       
}


.botonIS{
    background-color: black;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    
}



/* Fondo Index */
.titulosPrincipales{
    background-image: linear-gradient(to top, #0000008a,#000000a8),url(images/Fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 25vh 0px;
    margin-inline: auto;
    
}

/* Titulos Principales */
@media (max-width: 768px){
    .titulosPrincipales{
        background-image: linear-gradient(to top, #0000008a,#000000a8),url(images/Fondo.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-align: center;
        color: white;
        padding: 25vh 0px;
        margin-inline: auto;
            .titulosPrincipales1{
                padding: 1.6px;
                font-size: 1.5rem;
                line-height: 53px;
                    .titulosPrincipales2{
                        font-size: 0.5rem;
                        }
                    }    

            }

    

}


/*Registrarse Index*/
.botonIndex{
    background-color: #9f3647;
    border: 6px solid #9f3647;
    border-radius: 6px;
    color: white;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
}

.titulosPrincipales1{
    line-height: 70px;
    font-size: 2.0rem;
    padding-bottom: 12px;
}

.titulosPrincipales2{
    line-height: 30px;
    font-size: 1.4rem;
    padding-top: 20px;
    margin-bottom: 7vh;
}

/*Encabezado NavBar*/
.fondoColor{
    background-image: linear-gradient(to bottom, #4c3b3c, #443536, #3d2f30, #35292a, #2e2324);
    color: white;
}
.fondoColor2{
    background-color: rgb(35, 34, 34);
}
/* Mobile Seccion que buscas ver */
@media (max-width:768px){
    .fondoColor2{
        .titulo{
            color: white;
            text-align: center;
            font-size: 0.8rem;
                .buscadorBarra{
                    justify-items: center;
                    justify-content: center;
                    margin-left: 42px;
                    width: 120px;
                        .botonBusqueda{
                            width: 140px;
                        }
                        }
                }
        }
}

/*Margen Logo*/
.logo{
    margin-left: 15px;
    width: 100px;
    height: 100px;
}


/*Barra de NAvegacion*/
.navbar{
    float: right;
    }

.navbar ul li{
    margin-right: 65px;
    padding: 45px 0;
    float: left;
}

.navbar ul li a {
    color: white;
    font-weight: bold;
}


/* Imagen Registro/Inisio Sesion */
.cuerpo{
    background-image: url(images/fondoPagina.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    }


/*Formularios*/
.formulario{
    background-color: rgb(45, 44, 44);
    text-align: center;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 60px 80px;
    width: 600px;
    margin: auto;
    }

@media (max-width: 768px){
    .formulario{
        font-size: 1rem;
        padding: 35px 32px;
        width: 400px;
        margin: auto;
        margin-top: 70px;
        
        }
}
.pais{
    color: gray;
    border-radius: 50px;
    border:2px solid #9f3647;
    background-color: #333333;
    margin-bottom: 20px;
    padding: 0px 20px;
    width: 62%;
    height: 40px;
}

.ayuda2{
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
}
.encabezado{
    color: white;
}


.checkbox {
        width:15px;
        height:15px;
        }



/*Entradas Genericas*/
input{
    color: gray;
    border-radius: 50px;
    border:2px solid #9f3647;
    background-color: #333333;
    margin-bottom: 20px;
    padding: 0px 20px;
    width: 60%;
    height: 40px;
}

/*Botones*/
.boton{
        background-color: #9f3647;
        border: 2px solid #9f3647;
        border-radius: 3px;
        width: 55%;
        color: white;
    }

.ayuda{
    font-size: 1rem;
    text-decoration: none;
    color: #787878;
    font-weight: 400;
}


.titulo{
    color: white;
    text-align: center;
    padding: 3.2vh;
    font-size: 1.5rem;
}


.buscadorBarra{
    justify-items: center;
    color: gray;
    border-radius: 50px;
    border:2px solid #9f3647;
    background-color: #333333;
    margin-bottom: 20px;
    height: 40px;
    width: 500px;
    margin-right: 35px;
}

.botonBusqueda{
    background-color: #9f3647;
    border: 2px solid #e6dcdd;
    border-radius: 10px;
    width: 160px;
    text-align: cetner;
    color: white;

}

/*Galeria Imagenes Index*/
.galeria{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    
}

@media (max-width: 768px){
    .galeria{
        gap: 10px;
        padding: 10px;
            .item{
                justify-content: center;
            }
        }
}

.item{
    width:  200px;
    height: 600px;
    display: flex;
    justify-items: center;
}


.item img{
    width: 220px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

/*Barra Divisora*/
hr{margin-left: 65px;
    margin-right: 65px;
    background-color: #9f3647;
    height: 3.5px;
    border-radius: 6px;
}


/*Detalle Fondo PORTADA GRANDE MARIO*/
.fondoDetalles{
    background-image: linear-gradient(to top, #68656554, #bab4b4b5), url(images/fondoMario2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 35px;
    height: 100vh;
}

@media (max-width: 768px){
    .fondoDetalles{
        background-image: linear-gradient(to top, #0000009e, #bab4b477), url(images/fondoMario2.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 35px;
        height: 135vh;
    
    }
}

/*Texto al lado de la imagen*/
.textoImagen{
    color: white;
    text-shadow: black 15px;
    padding: 200px;
    display: flex;
    justify-content: center;
    gap: 60px;
    font-size: 1.2rem
}

/*Portada pequeña*/
.imagenPortada{
    width: 300px;
    height: 360px;
    border-radius: 8px;
}

@media (max-width:768px){
    .textoImagen{
        display: inline;
        justify-content: center;
        justify-items: center;
        font-size: 1.3rem;
        text-shadow: #000000;
        color: white;
            .imagenPortada {
                border-radius: 25px;
                padding: 20px;
                margin-left: 33px;
                width: 255px;
                height: 335px;
                
            }            
        }
}




/*Ajuste del Director*/
.textoDirector{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


/* Color Solido Link y Enlaces */
.contenedorColor{
    background-color: #000000;
    padding: 65px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.tamanoVideo{
    justify-content: center;
    justify-items: center;
    width:500px;
    height: 315px;
}

@media (max-width: 768px){
    .tamanoVideo{
        padding-top: 12px;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        justify-content: start;
        width:385px;
        height: 280px;
    }
}

@media (max-width: 768px){
    .contenedorColor{
        color: white;
        justify-items: start;
        background-color: #000000;
        padding: 50px;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
            .logos{
                margin-top: 30px;
                margin-left: 0px;
                gap: 1px;
                display: flex;
                margin-top: 30px;
                justify-content: space-between;
                margin-left: 164px;
                padding-right: 160px;
                font-size: 0.9rem;
            }
    }
}

@media (max-width: 768px){
    .info{
        padding-top: 30px;
        padding-right: 160px;
        gap: 35px;
        margin-top: 30px;
        justify-content: flex-start;
            .infoA{
                margin-top: 1px;
                font-size: 1.0rem;
                font-size: 20px;

            }
    }
}

.logos{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    margin-left: 200px;
    gap: 55px;
}


.info{
    color: white;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    margin-left: 200px;
    font-size: 0.9rem;
}
.infoA{
    color: white;
    margin-top: 5px;
    font-size: 1rem;
}
/*H eader inferior */
@media (max-width: 768px){
    .headerInferior{
        padding: 8px;
            .hItemsInferior{
                display: flex;
                justify-items: center;
                justify-content: center;
                padding: 0px;
                gap: 20px;
                font-size: 0.8rem;
                font-weight: 0px;
                padding-top: 0px;
                    .botonAdmPeliculas{
                        background-color: unset;
                        text-align: center;
                        
                        color: white;
                        border-radius: 0px;
                        padding: 0px;
                        }
                }        
            }
}

.headerInferior{
    background-image: linear-gradient(to top, #4c3b3cce, #443536, #3d2f30, #35292a, #2e2324);
    padding: 35px;
    justify-content: center;
    justify-items: center;
}
.hItemsInferior{
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 1px;
    gap: 40px;
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: 12px;
}
.hItemsInferiorColor{
    color: white;
}

.botonAdmPeliculas{
    background-color: #9f3647;
    color: white;
    border-radius: 6px;
    padding: 15px;
    
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.titulosPrincipales1 h1, .titulosPrincipales2 h4 {
    animation: fadeIn 2s ease-in-out;
}

.galeria .item {
    animation: slideIn 1s ease-in-out;
}

.botonIndex, .botonIS {
    transition: background-color 0.3s, transform 0.3s;
}

.botonIndex:hover, .botonIS:hover {
    background-color: #ff0000; /* Cambia el color al pasar el mouse */
    transform: scale(1.05);
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.titulosPrincipales1 h1, .titulosPrincipales2 h4 {
    animation: fadeIn 2s ease-in-out;
}

.galeria .item {
    animation: slideIn 1s ease-in-out;
}

.botonIndex, .botonIS {
    transition: background-color 0.3s, transform 0.3s;
}

.botonIndex:hover, .botonIS:hover {
    background-color: #ff0000; /* Cambia el color al pasar el mouse */
    transform: scale(1.05);
}

.formulario {
    animation: fadeIn 2s ease-in-out;
}

.input-container {
    animation: slideIn 1s ease-in-out;
}

.boton {
    transition: background-color 0.3s, transform 0.3s;
}

.boton:hover {
    background-color: #ff0000;
    transform: scale(1.05);
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.titulosPrincipales1 h1, .titulosPrincipales2 h4 {
    animation: fadeIn 2s ease-in-out;
}

.galeria .item {
    animation: slideIn 1s ease-in-out;
}

.botonIndex, .botonIS {
    transition: background-color 0.3s, transform 0.3s;
}

.botonIndex:hover, .botonIS:hover {
    background-color: #ff0000; /* Cambia el color al pasar el mouse */
    transform: scale(1.05);
}

.formulario {
    animation: fadeIn 2s ease-in-out;
}

.input-container {
    animation: slideIn 1s ease-in-out;
}

.boton {
    transition: background-color 0.3s, transform 0.3s;
}

.boton:hover {
    background-color: #ff0000;
    transform: scale(1.05);
}
